<div id="nyan-cat-one">
  <img class="nyan-cat" src="img/nyan-cat.gif" />
  <img class="nyan-cat" src="img/nyan-cat.gif" />
</div>
<div id="nyan-cat-two">
  <img class="nyan-cat" src="img/nyan-cat.gif" />
  <img class="nyan-cat" src="img/nyan-cat.gif" />
</div>
<div id="nyan-cat-three">
  <img class="nyan-cat" src="img/nyan-cat.gif" />
  <img class="nyan-cat" src="img/nyan-cat.gif" />
</div>
<audio src="music/gb.mp3" />
