<div id="nyan-cat-one">
  <img class="nyan-cat" src="img/nyan-cat.gif" />
  <img class="nyan-cat" src="img/nyan-cat-2.gif" />
</div>
<div id="nyan-cat-two">
  <img class="nyan-cat" src="img/nyan-cat-3.gif" />
  <img class="nyan-cat" src="img/nyan-cat-4.gif" />
</div>
<div id="nyan-cat-three">
  <img class="nyan-cat" src="img/nyan-cat-5.gif" />
  <img class="nyan-cat" src="img/nyan-cat-6.gif" />
</div>
<audio src="music/gb.mp3" />
