// CSS Reset
@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// Base CSS
@import "type.less";

// Components: common
@import "sprites.less";

// Components: Buttons & Alerts
@import "buttons.less";


.animate {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes shake {
  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}


body {
  background-color: #ddd;
  background-image: url(../img/bg.jpg);
  font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, 'Droid Sans', arial, sans-serif;
}

h1 {
  text-align: left;
  font-size: 36px;
  line-height: 60px;
  padding: 10px 0 80px;
  color: #777;
  width: 960px;
  margin: 0 auto;
  font-weight: normal;
  text-shadow: 0 1px #fff;
}

#stats {
  width: 960px;
  margin: 0 auto;
  position: relative;

  div {
    position: absolute;
    right: 0;
    font-size: 28px;
    line-height: 60px;
    color: #777;
    margin-top: -140px;
  }
}

#read {
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.type {
  font-size: 40px;
  line-height: 50px;
  font-family: Melno, Consolas, "Courier New", Courier, sans-serif;
  color: #fff;
}

#tasks {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.task {
  .animate;
  background: #f24b4b;
  padding: 20px 0;
  width: 960px;
  margin: 0 auto 30px;
  border: solid 4px rgba(225,225,225,0.4);
  display: none;
  -webkit-transform: translateZ(0);

  &:nth-child(5n) {
    background: #65bc26;
  }

  &:nth-child(5n+1) {
    background: #3a89c6;
  }

  &:nth-child(5n+2) {
    background: #ff9833;
  }

  &:nth-child(5n+3) {
    background: #a445ee;
  }

  div {
    padding: 0 30px;
    .type
  }

  span {
    display: none;
  }

  input {
    border: 0;
    .border-radius(0);
    .type;
    width: 100%;
    background: rgba(225,225,225,0.2);
    margin-top: 20px;
    outline: 0;
    height: 78px;
    padding: 10px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0 #000;

    &:focus {
      box-shadow: 0 0 0 #000;
    }
  }

  &.active {
    display: block;

    span {
      display: block;
    }
  }
}
